@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Solway:wght@300&display=swap');

*{
	box-sizing: border-box;
}

body,html{
	height: 100%;
	margin: 0;
	line-height: 1.6;
	font-family: 'Solway',serif;
}

/*HOME TEXT*/
.hero{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	flex: 1 1;
	min-height: 400px;
}

.hero-text{
	width: 40%;
}

.hero-h2 h2{
	letter-spacing: 1.6%;
	line-height: 84.5px;
}
 
 .hero-p{
 	display: flex;
 	align-items: center;
 	border-left: 2px solid gray;
	height: 86px;
	margin-bottom: 40px;
	margin-top: 20px;
 }

 .hero-p p{
 	margin-left: 10px;
 }

 .get-started{
 	width: 180px;
 	height: 64px;
 	background: #FF5202;
 	color: white;
 	border: none;
 	margin-right: 20px;
 }

 .learn-more{
 	width: 180px;
 	height: 64px;
 }

/*SERVICES*/

.service{
	margin: 10px;
	font-family: 'Open sans',sans-serif;
	min-height: 600px;
}

.row{
	margin-left: 2rem;
}
.card{
	margin-top: 2rem;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
	width: 20%;
	margin-left: 2rem;
	margin-right: 2rem;
}

.card:hover{
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container{
	padding: 2px 16px;
}

.service-h4{
margin-top: 10px;
font-size: 19px;
}


