@import url('https://fonts.googleapis.com/css2?family=Solway:wght@300&display=swap');

*{
	box-sizing: border-box;
}

body,html{
	height: 100%;
	margin: 0;
	line-height: 1.6;
	font-family: 'Solway',serif;
}

/*HOME TEXT*/
.hero{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	flex: 1 1;
	min-height: 400px;
}

.hero-text{
	width: 40%;
}

.hero-h2 h2{
	letter-spacing: 1.6%;
	line-height: 84.5px;
}
 
 .hero-p{
 	display: flex;
 	align-items: center;
 	border-left: 2px solid gray;
	height: 86px;
	margin-bottom: 40px;
	margin-top: 20px;
 }

 .hero-p p{
 	margin-left: 10px;
 }

 .get-started{
 	width: 180px;
 	height: 64px;
 	background: #FF5202;
 	color: white;
 	border: none;
 	margin-right: 20px;
 }

 .learn-more{
 	width: 180px;
 	height: 64px;
 }



